%flex {
    display: flex;
}

%atm {
    align-items: center;
}

header {
    width: 7.5rem;
    height: 3.20rem;
    img {
        width: 7.5rem;
        height: 3.20rem;
    }
}

section {
    width: 7.5rem;
    font-size: 0.3rem;
    .lie {
        width: 7.5rem;
        background: white;
        padding: 0 0.24rem;
        padding-bottom: 0.2rem;
        margin-bottom: 0.2rem;
        .blie {
            border-radius: 0.14rem;
        }
        .top {
            height: 0.9rem;
            @extend %flex;
            @extend %atm;
            color: #333333;
            img {
                width: 0.4rem;
                margin-right: 0.16rem;
            }
        }
        .btm {
            @extend %flex;
            justify-content: space-between;
            color: white;
            font-size: 0.22rem;
        }
    }
    .lie1 {
        .blie {
            width: 3.41rem;
            height: 1.66rem;
            @extend %flex;
            @extend %atm;
            justify-content: center;
        }
        .blie:nth-child(1) {
            background: url(../img/s1.png);
        }
        .blie:nth-child(2) {
            background: url(../img/s2.png);
        }
    }
    .lie2 {
        .blie {
            width: 2.2rem;
            height: 1.2rem;
            @extend %flex;
            @extend %atm;
            justify-content: center;
            p {
                text-align: center;
            }
        }
        .blie:nth-child(1) {
            background: url(../img/l1.png);
        }
        .blie:nth-child(2) {
            background: url(../img/l2.png);
        }
        .blie:nth-child(3) {
            background: url(../img/l3.png);
        }
    }
    .lie3 {
        .blie {
            width: 2.2rem;
            height: 1.2rem;
            @extend %flex;
            @extend %atm;
            justify-content: center;
            p {
                text-align: center;
            }
        }
        .blie:nth-child(1) {
            background: url(../img/z1.png);
        }
        .blie:nth-child(2) {
            background: url(../img/z2.png);
        }
        .blie:nth-child(3) {
            background: url(../img/z3.png);
        }
    }
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #d22124 !important;
}