#app {
  background: white;
  margin: 0;
}

#app .list .lie {
  padding: 0 0.24rem;
  font-size: 0.3rem;
  color: #333333;
}

#app .list .lie a {
  padding: 0.24rem 0;
  width: 100%;
  height: auto;
  color: #333333;
  display: flex;
  border-bottom: 1px #eeeeee solid;
}

#app .list .lie a .left {
  width: 2.0rem;
  height: 1.6rem;
}

#app .list .lie a .left img {
  width: 2.0rem;
  height: 1.6rem;
}

#app .list .lie a .right {
  width: 5.02rem;
  padding: 0 0.24rem;
  white-space: normal;
}

#app .list .lie:last-child a {
  border-bottom: 0px;
}

.mescroll {
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: auto;
}
