* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 7.5rem;
  margin: auto;
  height: 100%;
  background: #f7f6fd;
}
