* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

%flex {
    display: flex;
}

%atm {
    align-items: center;
}

#app {
    width: 7.5rem;
    margin: auto;
    background: #f7f6fd;
    overflow-x: hidden;
}